/****************************************
 * general purpose css-only components  *
 ****************************************/

@font-face {
  font-family: 'Mona-Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Mona-Sans'), url(Mona-Sans-Regular.ttf) format('truetype');
}

* {
  font-family: 'Mona-Sans', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input,button {
  font-family: 'Mona-Sans', sans-serif!important;
}

input,select {
  border: none!important;
  border-bottom: 1px solid #727272!important;
  border-radius: 0!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -o-transition: none!important;
  transition: none!important;
}

.fm-panel {
  background-color: #fff;

  border: 1px solid black;

  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;

  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;

  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;

  overflow: hidden;
}

.fm-panel > h4 {
  background-color: #E5E5E5;
  margin: -10px -10px 10px -10px;
  padding: 10px 10px 10px 10px;
}


.fm-right {
  text-align: right;
}



/****************************************
 * angular components                   *
 ****************************************/

.fm-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;

}

ul.fm-rating {
  display: inline-block;
}

.fm-rating-pointer {
  cursor: pointer;
}

.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.fm-rating .fm-selected {
  color: #70B943;
}

.fm-rating .fm-hover {
  text-shadow: white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  blue  0 0 10px;
}

fm-rating a {
  visibility: hidden;
  padding-left: 7px;
}

fm-rating:hover a {
  visibility: visible;
}


.fm-deliver-to {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 940px;
  padding: 0!important;
  margin-bottom: 50px!important;
}


input.ng-invalid.ng-dirty {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
}




/****************************************
 * route specific css                   *
 ****************************************/


/* customer */

.fm-customer-bkg {
  background-image: url(../img/customer_bkg.jpg);
  opacity: 0.8;
  height: 640px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 640px;
}

/* restaurant list */

.fm-restaurant-list {
  min-height: 646px !important;
}

.fm-restaurant-list table {
  margin: -10px -20px -20px -10px;
  width: 700px;
}

.fm-restaurant-list th:first-child {
  width: 500px;
}

.fm-restaurant-list th {
  width: 100px;
}

.fm-restaurant-list img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}


/* menu */

.fm-restaurant  {
  margin-bottom: 20px;
}

.fm-restaurant h3 {
  margin-top: 0;
}

.fm-restaurant img {
  width: 150px;
  height: 150px;
}

.fm-restaurant .fm-rating {
  display: block;
}

.fm-cart li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fm-cart .icon-remove-sign {
  visibility: hidden;
}

.fm-cart li:hover .icon-remove-sign {
  visibility: visible;
}

.fm-cart form {
  padding-left: 2px;
}

.fm-cart p {
  padding-left: 20px;
  padding-top: 5px;
}


/* checkout */

.fm-checkout table {
  width: 960px;
  margin-left: -10px;
}

.fm-checkout table th:nth-child(2),
.fm-checkout table td:nth-child(2) {
  width: 100%;
  text-align: left;
}

.fm-checkout table td:nth-child(1) input {
  width: 30px;
}

.fm-checkout table th,
.fm-checkout table td {
  text-align: right;
}

.fm-checkout table tr:last-child th {
  text-align: right;
}

input.ng-invalid {
  border: 1px solid red;
}

/* navbar */
.navigation-bar {
  background-color: #030401;
  min-height: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 7px;
}

.navbar .brand { 
  color: #70B943 !important;
  margin-top: -5px;
  text-shadow: 0 1px 0 #70B943!important;
}

.navbar .nav>li>a {
  color: white !important;
  text-shadow: none!important;
  transition: all 100ms ease-in;
  border-radius: 8px;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  color: #000000 !important;
  border-radius: 8px;
}

.container-fluid {
  padding: 0!important;
}

.logo {
  width: 35px;
  height: 35px;
}

.restaurant-list, .fm-menu-list {
  display: grid!important;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
  transition: all 0.2s ease-in-out;
  > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none!important;
    color: #000000;
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: #70B943;
    }
  }
  > .rating {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: auto;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.menu-card {
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.40);

  >a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
    color: #000000;
    font-size: 1em;
    &:hover {
      color: #000000;
    }
  }

  >.rating {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: auto;
  }
}

/* credit card */

.credit-card {
  position: relative;
  height: 225px;
  width: 375px;
  z-index: 100;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.credit-card:hover {
  transform: rotateY(180deg);
}

.credit-card .card {
  color: white;
  position: absolute;
  height: 80%;
  width: 80%;
  padding: 25px;
  border-radius: 25px;
  background-image: url("../img/bg.png");
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backface-visibility: hidden;
}

.front-face header,
.front-face .logo {
  display: flex;
  align-items: center;
}

.front-face header {
  justify-content: space-between;
}

.front-face .logo img {
  width: 48px;
  margin-right: 10px;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

.front-face .chip {
  width: 50px;
}

.front-face .card-details {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
  justify-content: space-between;
}

h6 {
  font-size: 10px;
  font-weight: 400;
}

h5.number {
  font-size: 18px;
  letter-spacing: 1px;
}

h5.name {
  margin-top: 20px;
}

.card.back-face {
  border: none;
  padding: 15px 25px 25px 25px;
  transform: rotateY(180deg);
}

.card.back-face h6 {
  font-size: 8px;
}

.card.back-face .magnetic-strip {
  position: absolute;
  top: 40px;
  left: 0;
  height: 45px;
  width: 100%;
  background: #000;
}

.card.back-face .signature {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 80px;
  height: 40px;
  width: 85%;
  border-radius: 6px;
  background: repeating-linear-gradient(#fff,
      #fff 3px,
      #efefef 0px,
      #efefef 9px);
}

.signature i {
  color: #000;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: -30px;
  z-index: -1;
}

.card.back-face h5 {
  font-size: 8px;
  margin-top: 15px;
}