<fm-deliver-to></fm-deliver-to>

<div class="row-fluid">
  <div class="span2">
    <i class="icon-filter"></i> <strong>Filters:</strong> 
    
    <h5>Sort by:</h5>
    <a href ng-click="sortBy('name')">Name {{sortIconFor('name')}}</a><br>
    <a href ng-click="sortBy('price')">Price {{sortIconFor('price')}}</a><br>
    <a href ng-click="sortBy('rating')">Rating {{sortIconFor('rating')}}</a><br>

    <h5>Rating:</h5>  
    <fm-rating ng-model="$parent.filter.rating"></fm-rating>
    
    <h5>Price:</h5>
    <fm-rating ng-model="$parent.filter.price" symbol="$"></fm-rating>

    <h5>Cuisines</h5>
    <div fm-checkbox-list ng-model="filter.cuisine">
      <label ng-repeat="(name, title) in CUISINE_OPTIONS" class="checkbox">
        <input type="checkbox" value="{{name}}"> {{title}}
      </label>
    </div>
  </div>
  <h4 class="pull-right">
    <ng-pluralize count="restaurants.length"
                  when="{'0'    : 'No restaurants found. :-(',
                          'one'  : '1 restaurant found!',
                          'other': '{} restaurants found!'}">
    </ng-pluralize>
  </h4>

  <div class="span10"> 
    <div class="restaurant-list">
      <div ng-repeat="restaurant in restaurants" class="restaurant-card">
          <a href="#/menu/{{restaurant.id}}">
            <img class="img-rounded" ng-src="img/restaurants/{{restaurant.id}}.jpg">
            <b>{{restaurant.name}}</b>
          </a>
          <div class="rating">
            <fm-rating ng-model="$parent.restaurant.price" symbol="$" readonly="true" ></fm-rating>
            <fm-rating ng-model="$parent.restaurant.rating" readonly="true"></fm-rating>
          </div>
      </div>
    </div>
  </div>
</div>